<div class="container">
	<div class ="lobby">
				<p>Games available now. Click join to play</p>					
					<table class="table table-hover">
						<tr>
							<td>Created By</td>
							<td>Status</td>
							<td>Action</td>
						</tr>
						<%if @gamesavailable == nil %>
						<% else %>
						<% @gamesavailable.each do |game|%>
						<tr class="gamelist">
							<td><% creator = User.find_by(id: game.player1_id_id) %><%= creator.username%></td>
							<td><%= game.status %></td>
							<td>
								<form action='/join' method='post' id="joingame">
									<input type="hidden" name="player2[id]" value="<%= session[:user_id]%>">
									<input type="hidden" name="game[id]" value="<%= game.id %>">
								<button type="submit" class="btn btn-primary">Join</button></form></td></p>
						</tr>
						<% end %>
						<% end %>
					</table>
				<div class="creategamelobby">
					<p>Can't find a game?Create one now!</p>
					<p>Once the game is created, please wait for the second player</p>
				</div><br>

				<div class="row">
			      <form action='/game/create' method='post' id="gamecreate">
			        <button type="submit" class="btn btn-info btn-lg">Create New Game</button>
			      </form>
			    </div>

	</div>
	
	<center>
	<div class ="top10">
		<h2>Scores : Top 10</h2>					
			<table class="table table-hover">
				<tr>
					<td>Rank</td>
					<td>Username</td>
					<td>Total Points</td>
				</tr>
				<% @topten.each_with_index do |user,index|%>
				<tr class="gamelist">
					<td><%= index + 1 %></td>
					<td><%= user.username %></td>
					<td><%= user.points %></td>
				</tr>
				<% end %>
			</table>
	</div>
	</center>
</div>

<!-- auto refresh if user created game, to connect game if player 2 joins game -->

<meta http-equiv="Refresh" content="5">
